* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}

.styled-section {
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #1a1e23;
}

.card-container {
  display: flex;
  gap: 30px;
  width: 50%;
  justify-content: center;
}

.card {
  position: relative;
  list-style-type: none;
  width: 220px;
  transition: 0.3s ease;
}

.card::before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card-background1 {
  background-color: green;
  background-image: url("../../Assets/bulbasaur.png");
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  border-radius: 20px;
  background-size: 420px;
  background-position: center;
  filter: brightness(0.9) saturate(1) contrast(1);
  transform-origin: bottom;
  transform: 0.3s ease;
}

.card-background2 {
  background-color: white;
  background-image: url("../../Assets/squirtle.png");
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  border-radius: 20px;
  background-size: 200px;
  background-position: center;
  filter: brightness(0.9) saturate(1) contrast(1);
  transform-origin: bottom;
  transform: 0.3s ease;
}

.card-background3 {
  background-color: #ffb35c;
  background-image: url("../../Assets/charmander.png");
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  border-radius: 20px;
  background-size: 130px;
  background-position: center;
  filter: brightness(0.9) saturate(1) contrast(1);
  transform-origin: bottom;
  transform: 0.3s ease;
}

.card:hover .card-background1 {
  transform: scale(1.15) translateZ(0);
  background-size: 250px;
}
.card:hover .card-background2 {
  transform: scale(1.15) translateZ(0);
  background-size: 250px;
}

.card:hover .card-background3 {
  transform: scale(1.15) translateZ(0);
  background-size: 250px;
}

.card-container:hover .card:not(:hover) {
  transform: scale(0.9);
}

.card-container:hover > .card:not(:hover) .card-background1,
.card-container:hover > .card:not(:hover) .card-category {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card-container:hover > .card:not(:hover) .card-background2,
.card-container:hover > .card:not(:hover) .card-category {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}
.card-container:hover > .card:not(:hover) .card-background3,
.card-container:hover > .card:not(:hover) .card-category {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.content {
  top: 50%;
  left: 0;
  padding: 25px;
  position: absolute;
}

.card-category {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 5px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.card-heading {
  color: #fff;
  font-size: 25px;
  line-height: 1;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}
